name: practice
description: A new Flutter project.

publish_to: 'none' 

version: 1.0.0+1

environment:
  sdk: ">=2.16.1 <3.0.0"

dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^1.0.2
  image_cropper: ^1.5.1
  image_picker: ^0.8.5+3
  sizer: ^2.0.15

dev_dependencies:
  flutter_test:

    sdk: flutter
  flutter_lints: ^1.0.0
  
flutter:
  uses-material-design: true
